# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore baseDatos.properties
baseDatos.properties

# Ignore chatDB.session.sql
chatDB.session.sql