.scroll-chatlist .viewport{
    -fx-background-color:#353535;
    background-color: #353535;
    -fx-border-color: transparent;
    border-color: transparent;
}

.scroll-chatlist{
    -fx-background-color: transparent;
    background-color: transparent;
}

.scroll-chat .viewport {
    -fx-background-image: url("../img/chatBg.jpg");
    background-image: url("../img/chatBg.jpg");
    -fx-background-size: cover;
    background-size: cover;
    -fx-border-color: transparent;
    border-color: transparent;
}

.scroll-chat {
    -fx-background-color: transparent;
    background-color: transparent;
}

.scroll-bar:vertical .track{
    -fx-background-color: #353535;
    background-color: #353535;
    -fx-border-color :transparent;
    border-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
    border-radius: 2.0em;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    background-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
    padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0;
    padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em;
    padding :0.0 0.15em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color :derive(white,90.0%);
    background-color :derive(white,90.0%);
}

.chat-info-cont{
    -fx-background-color: #353535;
    background-color: #353535;
    -fx-border-color: white #353535 white #353535;
    border-color: white #353535 white #353535;
}

.chat-info-cont:hover{
    -fx-background-color: #353535c2;
    background-color: #353535c2;
}

.message-container{
    -fx-background-color: #88ff9f;
    background-color: #88ff9f;
    -fx-background-radius: 10px 0px 10px 10px;
}

.btn-style{
    -fx-background-color: #5c80f6;
    background-color: #5c80f6;
}

.btn-style:hover{
    -fx-background-color: #5c80f69d;
    background-color: #5c80f69d;
}


.friendship-btn{
    -fx-background-color: #353535;
    background-color: #353535;
}

.friendship-btn:hover{
    -fx-background-color: #4e4e4e;
    background-color: #4e4e4e;
}

.friendship-btn-det{
    -fx-border-color: white;
    border-color: white;
    -fx-border-width: 0px 0px 1px 0px;
    border-width: 0px 0px 1px 0px;
}

.person-cont{
    -fx-border-color: white;
    border-color: white;
    -fx-border-width: 1px 0px;
    border-width: 1px 0px;
}

.req-cont{
    -fx-border-color: gray;
    border-color: gray;
    -fx-border-width: 3px 0px;
    border-width: 3px 0px;
}

.received-cont{
    -fx-border-color: gray;
    border-color: gray;
    -fx-border-width: 0px 3px 0px 0px;
    border-width: 0px 3px 0px 0px;
}

.send-cont{
    -fx-border-color: gray;
    border-color: gray;
    -fx-border-width: 0px 0px 0px 3px;
    border-width: 0px 0px 0px 3px;
}